---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Harun Albayrak" description="Software Engineer">
  <div class="container section">
    <p>Layout works.</p>
  </div>
</BaseLayout>
